
#include "zmk-helpers/key-labels/4x12.h"

#define TBLE_DUAL_2U
/*
/ {
    chosen {
       zmk,matrix_transform =
#ifdef TBLE_DUAL_2U
                       &dual_2u_transform;
#elif defined(TBLE_MIT)
                       &mit_transform;
#else
                       &ortho_transform;
#endif
    };
*/
/*
 / {
     chosen {
        zmk,physical-layout =
 #ifdef TBLE_DUAL_2U
                        &layout_ortho_4x12_2x2u;
 #elif defined(TBLE_MIT)
                        &layout_ortho_4x12_1x2u;
 #else
                        &layout_ortho_4x12_all1u;
 #endif
     };
*/

/*map Blank Slate's extra keys */
#define X_LOD &kp LCTRL
#define X_LID &kp LALT
#define X_RID &kp MINUS
#define X_ROD &kp EQUAL

#define X_LOM &trans
#define X_LIM &none
#define X_RIM &none
#define X_ROM &kp LG(SPACE)

#define X_LOW &trans
#define X_LIW &none
#define X_RIW &none
#define X_ROW &kp LG(TAB)

#define X_LO &none
#define X_LI &none
#define X_RI &none
#define X_RO &none

#include "base.keymap"
